@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><span class="text-primary">Sociabilizing</span> has never been so easy !</h1>
    <p class="lead"><i>We want to help you socialize your employees, indeed Köombu is a corporate social network that will help communicate, implement and share information in real time.</i></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>Want to know more about our company and its terms of use?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Where to start ? Create an account on our site to create your own company group.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Let's Go ! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>You have some specifics questions ? Contact us right now !</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contact Us &raquo;</a></p>
    </div>
</div>